cafe.dtd

<!ELEMENT cafe (name, location, menu)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT location (address, city, state, zipcode)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT zipcode (#PCDATA)>
<!ELEMENT menu (item+)>
<!ELEMENT item (name, price, description)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
